<section class="hero-section"></section>

<div class="container">
	<section class="text-center content-section">
		<h1>Welcome to ngWeber!</h1>
		<p>
			ngWeber is an Angular meetup located in the Weber and Davis county area of Northern Utah. Angular is a great
			framework with a great community of developers. ngWeber will allow members of this community to gather
			together to learn new things, make new friends, and support each other. Any and all are welcome. Please
			connect with us on <a href="https://www.twitter.com/ng_weber">Twitter</a>,
			<a href="https://www.spectrum.chat/ngweber">Spectrum</a>, or at our
			<a href="https://www.youtube.com/channel/UC9K-mQTazJCDs-8zervFLKA">YouTube channel</a> if you have any
			questions!
		</p>
	</section>

	<section class="text-center content-section">
		<h2>Goals</h2>
		<p>
			ngWeber has a few specific goals: support Angular developers in the community, learn new topics and practice
			old topics, and make new friends.
		</p>
		<p>
			To accomplish these goals, ngWeber will meet together often. Many of those meetings will be held online,
			primarily using YouTube live. Go check out ngHouston or AngularAir for examples of this. We will schedule
			meetings and allow as many people to watch live as possible. Each recorded episode will be immediately
			available on YouTube, and then will be converted to an audio podcast and be released on many podcast
			platforms. Check out our <a href="https://anchor.fm/ng-weber">Anchor</a> page for more information on the
			podcast.
		</p>
	</section>

	<section class="text-center content-section">
		<h2>Thanks, and Welcome!</h2>

		<p>
			With your help, we can make ngWeber the best meetup in town, and will be able to benefit many developers in
			the area. If you'd like to get involved, please reach out via DM on Twitter or Spectrum. You can submit
			requess for episodes at those locations or volunteer to present. If you're a new presenter just looking to
			get into public speaking, let us know and you can get your start and some practice here. Thanks again!
		</p>
	</section>
</div>
