.hero-section {
	background-image: url('/assets/images/ngWeber-hero-image.png');
	background-color: rgba(221, 0, 49, 0.7);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
}

.content-section {
	padding-top: 50px;
	padding-bottom: 50px;
}

@media (max-width: 575.98px) {
	.hero-section {
		background-image: url('/assets/images/ngWeber.svg');
	}
}
